<div class="dashboard-page">

  <div class="dashboard-center">
    <h2>Welcome to Airline Booking System</h2>

    <p class="subtitle">
      You are logged in as <strong>{{ role }}</strong>
    </p>

    <!-- ADMIN -->
    <div class="action-grid" *ngIf="role === 'ADMIN'">
      <a routerLink="/add_flights" class="action-card">Manage Flights</a>
      <a routerLink="/view_all_user" class="action-card">View All Bookings</a>
      <a routerLink="/assign_pilot" class="action-card">Assign Pilots</a>
    </div>

    <!-- PASSENGER -->
    <div class="action-grid" *ngIf="role === 'PASSENGER'">
      <a routerLink="/search_flight" class="action-card">Search Flights</a>
      <a routerLink="/my_booking" class="action-card">My Bookings</a>
      <a routerLink="/my_profile" class="action-card">My Profile</a>
    </div>

    <!-- PILOT -->
    <div class="action-grid" *ngIf="role === 'PILOT'">
      <a routerLink="/assign_pilot" class="action-card">My Schedule</a>
      <a routerLink="/my_profile" class="action-card">My Profile</a>
    </div>

  </div>

</div>
